@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-subtle: 210 20% 98%;
  }

  .dark {
    --background-subtle: 0 0% 5%;
  }

  * {
    border-color: hsl(var(--mijnui-border));
  }

  html {
    @apply scroll-smooth;
  }

  body {
    background-color: hsl(var(--mijnui-background));
    color: hsl(var(--mijnui-foreground));
    font-family: "Inter", sans-serif;
  }
}

.lucide {
  width: 1em;
  height: 1em;
}
